/* You can add global styles to this file, and also import other style files */
body.dark-theme {
    background-color: #333;
    color: #ecf0f1;
}

#change-theme-btn.dark-theme {
    background-color: #ecf0f1;
    color: #333;
}

hr.dark-theme  {
    background-color: #ecf0f1;
    color: #ecf0f1;
}

.info-text {
    margin-left: 0.7%;
}
