input[type=text], input[type=password] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 5%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.words-block__item {
  margin-bottom: .5rem;
  padding: .5rem 1rem;
  border: 1px dashed #ccc;
}