<div class="button-block-random">
    <button (click)="setNum()" (click)="getNumber()">Start</button>
    <button (click)="stop()">Stop</button>
</div>

<div class="info-text">
    <p>Result: </p>
    <p class="result-array"></p>
</div>