button {
    background-color: #2199e8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    margin-right: 1.0625rem;
    border: none;
    cursor: pointer;
    width: 100%;
}
  
button:hover {
    opacity: 0.8;
}