input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

button {
  background-color: #2199e8;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  margin-right: 1.0625rem;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  padding: 10px 18px;
  background-color: #f44336;
}

.signupbtn {
  float: left;
  width: 100%;
}

.container {
  padding: 16px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  padding-top: 50px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}

.close {
  position: absolute;
  right: 25px;
  top: 8px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
  
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
  
#alert-bad-reg {
  visibility: hidden;
  padding: 20px;
  width: 79.1%;
  margin-left: 10%;
  margin-bottom: 3%;
  background-color: #f44336;
  color: white;
  z-index: 1;
}
  
#alert-bad-reg.show {
  visibility: visible;
}

#alert-good-reg {
  visibility: hidden;
  padding: 20px;
  width: 79.1%;
  margin-left: 10%;
  margin-bottom: 3%;
  background-color: #4CAF50;
  color: white;
  z-index: 1;
}

#alert-good-reg.show {
  visibility: visible;
}

.button-block {
  display: flex;
  flex-direction: row-reverse;
}
  
#alert-inv-reg {
  visibility: hidden;
  padding: 20px;
  width: 79.1%;
  margin-left: 10%;
  margin-bottom: 3%;
  background-color: #ff9800;
  color: white;
  z-index: 1;
}
  
#alert-inv-reg.show {
  visibility: visible;
}
  
.file-upload {
  margin-left: 11%;
}

.dark-theme > .modal-content {
  background-color: #333;
  color: #ecf0f1;
}