<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" [(ngModel)]="user" class="form-control" id="username" placeholder="Enter username">
            </div>
        </div>
        <div class="col-sm-5">
            <label for="roomInput">Choose conversation</label>
            <select name="roomInput" id="roomInput" class="form-control" [(ngModel)]="room">
                <option value="Test1">Conversation_1</option>
                <option value="Test2">Conversation_2</option>
                <option value="Test3">Conversation_3</option>
            </select>
        </div>
        <div class="col sm-2">
            <div class="button-ctrl-block" class="pull-right"> 
                <button type="button" (click)="join()">Join</button>
                <button type="button" (click)="leave()">Leave</button>
            </div>
        </div>
    </div>

    <div class="row" class="window">
        <div class="well">
            <div *ngFor="let item of messageArray">
            <span><strong>{{item.user}} : </strong> {{item.message}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="messageText">            
        </div>
        <div class="col-sm-2">
                <button type="button" class="pull-right" (click)="sendMessage()" (click)="clearInput()">Send</button>
        </div>
    </div>
</div>
