<button onclick="document.getElementById('id01').style.display='block'">Login</button>

<div id="id01" class="modal">
  <form class="modal-content animate">
    <div class="imgcontainer">
      <span (click)="clearInput()" onclick="document.getElementById('id01').style.display='none'" class="close" title="Close">&times;</span>
    </div>

    <div class="container">
      <label for="login"><b>Email</b></label>
      <input type="text" autocomplete="off" placeholder="Enter login" name="login" [(ngModel)]="user.login" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" autocomplete="off" placeholder="Enter Password" name="password" [(ngModel)]="user.password" required>
      
      <div *ngIf="user.login == '' || user.password == '';else buttonOk">
        <button type="submit" (click)="badInfo()" class="signinbtn" style="background-color:grey" >Login</button>
      </div>

      <ng-template #buttonOk>
        <button type="submit" (click)="submit(user)"  class="signinbtn" >Login</button>
      </ng-template>

    </div>

    <div id="alert-bad">
      <strong>Attention!</strong> Enter all user data!
    </div>

    <div id="alert-good">
      <strong>Success!</strong> You are authorized! This window will close automatically.
    </div>

    <div id="alert-inv">
      <strong>Warning!</strong> Invalid login or password.
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" (click)="clearInput()" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
    </div>
  </form>
</div>

